* {
    box-sizing: border-box;
}

#atas {
    background-color: #685fcf;
    display: flex;
    width: 100%;
    height: auto;
}

header {
    flex:1 1 200px;
    margin-left: 50px;
}
  
header p{
    font-family: Satisfy;
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

nav {
    cursor: pointer;
    margin-right: 20px;
}

nav > a {
    color: white;
    font-size: 14px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding: 35px 20px;
    align-items: flex-end;
    display: inline-block;
}

nav a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#content {
    height: fit-content;
}
  
.bg {
    position: absolute;
    opacity: 0.5;
    height: 500px;
}

.text {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    z-index: 100;
    position: relative;
    padding: 50px 0;
}

.card {
    position: relative;
    left: 60px;
    background: linear-gradient(#685fcf 10%, rgba(0, 0, 0, 0.81) 100%);
    color: white;
    width: 260px;
    height: 170px;
    border-radius: 30px;
    text-align: center;
}

.card-title {
    padding: 10px;
    font-family: Poppins;
    color: white;
    text-align: center;
}

.card-text {
    padding: 5px;
    font-family: Poppins;
    color: white;
    text-align: center;
}

.card-ket {
    font-size: 15px;
    font-family: Poppins;
    position: relative;
    left: 60px;
    background: linear-gradient(#685fcf 10%, rgba(0, 0, 0, 0.81) 100%);
    color: white;
    width: 260px;
    height: 120px;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn {
    position: relative;
    background: black;
    color: white !important;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

#wa {
    cursor: pointer;
}

.text-small {
    font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}
  